{{email-input email=credentials.email}}
{{password-input passwordJim=credentials.password}}
{{password-confirmation-input passwordJim=credentials.passwordConfirmation}}

<button type="submit" class="btn btn-primary" {{action "submitJimForm"}}>
  Sign Up
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
